@font-face {
  font-family: "NorseBold";
  src: url("./fonts/NorseBold.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply shadow-sm rounded border mb-6 h-8 px-2 focus:shadow-lg focus:outline-none 
     focus:border-sky-600 invalid:border-red-600 valid:border-green-600 placeholder-shown:invalid:border-slate-200 placeholder-shown:focus:border-sky-600
      placeholder-shown:valid:border-slate-200;
  }

  .label {
    @apply text-xs font-bold tracking-wider;
  }

  .container {
    @apply flex flex-col relative;
  }
}
